<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Group 4 Project 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  </head>
  
  <body>
    <div class="container">
      <h1>Summary Dashboard</h1>
      <div class="row">
        <div class="col-xs-12 col-md-12">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-l-2 col-xl-2">
          <h4>Enter Client and Stock Data</h4>
          <div id="client-form-outer">
            <form id="client-form" method="POST" action="/client">
              <div class="rowTab">
                <div class="labels">
                  <label id="client-name-label" for="stock">Enter client name </label>
                </div>
                <div class="rightTab">
                  <input autofocus type="text" name="client-name" id="client-name" class="input-field" placeholder="e.g. James" required>
                </div>
              </div>
              <button id="submit" type="submit">Submit</button>
            </form>
          </div>

          <div id="stock-form-outer">
            <form id="stock-form" method="POST" action="/stock">
              <div class="rowTab">
                <div class="labels">
                  <label id="stock-label" for="stock">Enter Stock Ticker </label>
                </div>
                <div class="rightTab">
                  <input autofocus type="text" name="stock" id="stock" class="input-field" placeholder="e.g. CBA.AX" required>
                </div>
              </div>
              <button id="submit" type="submit">Submit</button>
              <button id="reset" type="reset">Reset</button>
            </form>
          </div>

          <div id="update-stock-form-outer">
            <label id="update-label" for="update-stock-form">Get the Latest Stock Data</label>
            <form id="update-stock-form" method="POST" action="/update_all_stocks">
              <button id="submit" type="submit">Update All</button>
            </form>
          </div>

          <br>

          <div id="porfolio-form-outer">
            <form id="porfolio-form" method="POST" action="/portfolio">
              <h4>Create a Portfolio Entry</h4>
              <div class="rowTab">
                <div class="labels">
                  <label id="name-label" for="name">Enter Client Name </label>
                </div>
                <div class="rightTab">
                  <select name="name" id="name">
                    {% for x in names_list %}
                    <option value="{{x}}">{{x}}</option>
                    {% endfor %}
                </select>
                </div>
              </div>
              
              <div class="rowTab">
                <div class="labels">
                  <label id="ticker-label" for="ticker">Enter Stock Ticker </label>
                </div>
                <div class="rightTab">
                  <select name="ticker" id="ticker">
                    {% for x in stock_list %}
                    <option value="{{x}}">{{x}}</option>
                    {% endfor %}
                </select>
                </div>
              </div>
        
              <div class="rowTab">
                <div class="labels">
                  <label id="quantity-label" for="quantity">Enter Quantity </label>
                </div>
                <div class="rightTab">
                  <input type="number" name="quantity" id="quantity" class="input-field" step="1" min=0 placeholder="40" required>
                </div>
              </div>
        
              <div class="rowTab">
                <div class="labels">
                  <label id="price-label" for="price">Enter the Price in $AU </label>
                </div>
                <div class="rightTab">
                  <input type="number" step="0.001" name="price" id="price" class="input-field" min=0 placeholder="50.25" required>
                </div>
              </div>
              
              <button id="submit" type="submit">Submit</button>
              <button id="reset" type="reset">Reset</button>
            </form>
          </div>
        </div>


        <div class="col-xs-10 col-sm-10 col-md-10 col-l-10 col-xl-10">
          <div id="hori">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12  col-md-9">
          <div id="stock_history">
          </div>
        </div>
      </div>
    </div>
  
    <!-- Footer-->
    <div id="footer">
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="{{ url_for('static', filename='logic.js') }}"></script>
  </body>

</html>
