<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Group 4 Project 2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid text-center">
        <h1 class="display-5">Summary Dashboard</h1>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row" id="header_row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-l-2 col-xl-2">
          <h5>Total Assets Managed:</h5>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-l-2 col-xl-2" >
          <p id="total_assets"></p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-l-2 col-xl-2">
          <h5>Today's gain/loss:</h5>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-l-2 col-xl-2" id="gainloss">
          <p>Insert result here</p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-l-2 col-xl-2">
          <h5>Select Client</h5>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-l-2 col-xl-2">
          <div class="rightTab">
            <select name="portfolio_filter" id="portfolio_filter" class="form-control form-control-md">
              {% for x in portfolio_names %}
              <option value="{{x}}">{{x}}</option>
              {% endfor %}
              <option value="reset">Reset</option>
          </select>
          </div>
        </div>
      </div>

      <br>
      <br>
      
      <div class="row" id="row1">
        <div class="col-xs-2 col-sm-2 col-md-2 col-l-2 col-xl-2" id="column1">
          <h4>Import/Delete Data</h4>
          <div id="sample-dataset-form-outer", class="form-outer">
            <label id="sample-dataset-label" for="sample-dataset-form">Import Sample Dataset</label>
            <form id="sample-dataset-form" method="POST" action="/sample_dataset">
              <button id="submit" type="submit" class="btn btn-primary" >Import Data</button>
            </form>
          </div>

          <br>

          <div id="delete-dataset-form-outer" class="form-outer">
            <label id="delete-dataset-label" for="sample-dataset-form">Delete All Data</label>
            <form id="delete-dataset-form" method="POST" action="/delete_all_data">
              <button id="submit" type="submit" class="btn btn-danger">Delete All Data</button>
            </form>
          </div>

          <br>

          <h4>Enter Client and Stock Data</h4>
          <div id="client-form-outer" class="form-outer">
            <form id="client-form" method="POST" action="/client">
              <div class="rowTab">
                <div class="labels">
                  <label id="client-name-label" for="stock">Enter client name </label>
                </div>
                <div class="rightTab">
                  <input autofocus type="text" name="client-name" id="client-name" class="form-control" placeholder="e.g. James" required>
                </div>
              </div>
              <button id="submit" type="submit" class="btn btn-primary">Create</button>
            </form>
          </div>

          <div id="stock-form-outer" class="form-outer">
            <form id="stock-form" method="POST" action="/stock">
              <div class="rowTab">
                <div class="labels">
                  <label id="stock-label" for="stock">Enter Stock Ticker </label>
                </div>
                <div class="rightTab">
                  <input autofocus type="text" name="stock" id="stock" class="form-control" placeholder="e.g. CBA.AX" required>
                </div>
              </div>
              <button id="submit" type="submit" class="btn btn-primary">Create</button>
              <button id="reset" type="reset" class="btn btn-warning">Reset</button>
            </form>
          </div>

          <div id="update-stock-form-outer" class="form-outer">
            <label id="update-label" for="update-stock-form">Get the Latest Stock Data</label>
            <form id="update-stock-form" method="POST" action="/update_all_stocks">
              <button id="submit" type="submit" class="btn btn-warning">Update All</button>
            </form>
          </div>

          <br>

          <div id="porfolio-form-outer" class="form-outer">
            <form id="porfolio-form" method="POST" action="/portfolio">
              <h4>Create a Portfolio Entry</h4>
              <div class="rowTab">
                <div class="labels">
                  <label id="name-label" for="name">Select Client Name </label>
                </div>
                <div class="rightTab">
                  <select name="name" id="name" class="form-control form-control-md">
                    {% for x in names_list %}
                    <option value="{{x}}">{{x}}</option>
                    {% endfor %}
                </select>
                </div>
              </div>
              
              <div class="rowTab">
                <div class="labels">
                  <label id="ticker-label" for="ticker">Select Stock Ticker </label>
                </div>
                <div class="rightTab">
                  <select name="ticker" id="ticker" class="form-control form-control-md">
                    {% for x in stock_list %}
                    <option value="{{x}}">{{x}}</option>
                    {% endfor %}
                </select>
                </div>
              </div>
        
              <div class="rowTab">
                <div class="labels">
                  <label id="quantity-label" for="quantity">Enter Quantity </label>
                </div>
                <div class="rightTab">
                  <input type="number" name="quantity" id="quantity" class="form-control" step="1" min=0 placeholder="40" required>
                </div>
              </div>
        
              <div class="rowTab">
                <div class="labels">
                  <label id="price-label" for="price">Enter the Price in $AU </label>
                </div>
                <div class="rightTab">
                  <input type="number" step="0.001" name="price" id="price" class="form-control" min=0 placeholder="50.25" required>
                </div>
              </div>
              
              <button id="submit" type="submit" class="btn btn-primary">Create</button>
              <button id="reset" type="reset" class="btn btn-warning">Reset</button>
            </form>
          </div>

          <br>

          <div id="porfolio-delete-form-outer">
            <form id="porfolio-delete-form" method="POST" action="/delete-portfolio">
              <h4>Delete a Portfolio Entry</h4>
              <div class="rowTab">
                <div class="labels">
                  <label id="name-label" for="name">Select Client Name </label>
                </div>
                <div class="rightTab">
                  <select name="name" id="name" class="form-control form-control-md">
                    {% for x in portfolio_names %}
                    <option value="{{x}}">{{x}}</option>
                    {% endfor %}
                </select>
                </div>
              </div>
              
              <div class="rowTab">
                <div class="labels">
                  <label id="ticker-label" for="ticker">Select a Stock Ticker </label>
                </div>
                <div class="rightTab">
                  <select name="ticker" id="ticker" class="form-control form-control-md">
                    {% for x in stock_list %}
                    <option value="{{x}}">{{x}}</option>
                    {% endfor %}
                </select>
                </div>
              </div>
              <button id="submit" type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>

        </div> <!-- end of column 1 -->

        <div class="col-xs-10 col-sm-10 col-md-10 col-l-10 col-xl-10" id="column2">
          <div class="row" id="row2">
            <div class="col-xs-7 col-sm-7 col-md-7 col-l-7 col-xl-7" id="column3">
              <div id="bar_chart"></div>
            </div> <!-- end of column3 -->

            <div class="col-xs-5 col-sm-5 col-md-5 col-l-5 col-xl-5" id="column4">
              <div id="pie_chart"></div>
            </div> <!-- end of column4 -->
          </div> <!-- end of row2 -->

        <div class="row" id="row3">
          <div class="col-xs-12 col-sm-12 col-md-12 col-l-12 col-xl-12" id="column5">
            <div id="myDiv"></div>
          </div> <!-- end of column5 -->

        </div> <!-- end of row3 -->
        </div> <!-- end of column2 -->
      </div><!-- end of row1-->

    </div>
  
    <!-- Footer-->
    <div id="footer">
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
	  <script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="{{ url_for('static', filename='logic.js') }}"></script>
  </body>

</html>